body {background-color: rgb(60, 60, 60); color:white;}
pre{text-align: center}
h1{color:lime}
img{height:400px; width;400px;}
.login{padding: 5px; background-color: lightgray; color: black}
#fusion{color:rgb(196, 20, 196)}
#synchro{background-color:rgb(63, 255, 63); color:white}
#xyz{background-color:rgb(204, 204, 17); color:black}
#pend{background-color:rgb(41, 164, 41); color:red}
#link{color:rgb(0, 60, 255)}
